In [35]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
from sqlalchemy import inspect
import requests
import hvplot.pandas
import plost

In [36]:
load_dotenv()

database_connection_string = os.getenv("DATABASE_URI")

database_schema = os.getenv("DATABASE_SCHEMA")

engine = create_engine(database_connection_string, echo=False)

In [37]:

sql_query = """
SELECT rarity_percentage
FROM token_attribute
ORDER BY rarity_percentage DESC
"""

df = pd.read_sql_query(sql_query, con = engine)

display(df.head(10))
display(df.tail(10))

   rarity_percentage
0              100.0
1              100.0
2              100.0
3              100.0
4              100.0
5              100.0
6              100.0
7              100.0
8              100.0
9              100.0

       rarity_percentage
44394               0.01
44395               0.01
44396               0.01
44397               0.01
44398               0.01
44399               0.01
44400               0.01
44401               0.01
44402               0.01
44403               0.01

In [39]:
#df.plot(title="Ranking Token Rarity")
plost.bar_chart(
    data=df['rarity_percentage'],
    bar='percentage',
    value='%')

2022-08-07 17:22:25.277
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/michaeldionne/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py [ARGUMENTS]